.DS_Store
/test
/frontend/stats.json
/frontend/tests/data/rom-formats/psp/retail/*
/frontend/tests/data/rom-formats/psp/make-iso/*
/frontend/tests/data/rom-formats/sms/retail/*
/frontend/tests/data/save-formats/flashcarts/gba/goombaemulator/retail/*
/frontend/tests/data/save-formats/flashcarts/gba/pocketnesemulator/retail/*
/frontend/tests/data/save-formats/flashcarts/gba/smsadvanceemulator/retail/*
/frontend/tests/data/save-formats/flashcarts/n64/gb64emulator/retail/*
/frontend/tests/data/save-formats/segasaturn/*-uncompressed.*
/frontend/tests/config.local.js
